@import "tailwindcss";


:root {

--font-firacode: 'Fira Code', serif;
--font-inter: 'Inter', sans-serif;

--text: #FFFFFF;
--background: #050505;
--primary: #00d6ff;

}

.font-firacode {
  font-family: var(--font-firacode);
}

.font-inter {
  font-family: var(--font-inter);
}

.text-text {
  color: var(--text);
}
.text-primary {
  color: var(--primary);
}


.bg-background {
  background-color: var(--background);
}
.bg-primary {
  background-color: var(--primary);
}

/* Marquee Animations */
@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-marquee-left {
  animation: marquee-left 40s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}